@font-face {
    font-family: "Brand Bold";
    src: url('../fonts/Nissan_Brand_Bold.otf');
}
@font-face {
    font-family: "Brand Italic";
    src: url('../fonts/Nissan_Brand_Italic.otf');
}
@font-face {
    font-family: "Brand Light";
    src: url('../fonts/Nissan_Brand_Light.otf');
}
@font-face {
    font-family: "Brand Regular";
    src: url('../fonts/Nissan_Brand_Regular.otf');
}

$rojo :rgb(198, 22, 51);
$negro :rgb(0, 0, 0);


/* ---- media query ---- */
$breakpoint-Laptop : 1024px; 
$breakpoint-tablet: 768px;
$breakpoint-miniphone: 640px;


/*------------------------------------------------------------------------------*/
/*  home */
/*------------------------------------------------------------------------------ */
body.front.page-node {
  background: url(../img/fondo_home.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0px !important;
  div#skip-link {
    position: relative;
    p {
    background: url(../img/registrarme_home.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em 2em 1em 4em;
    position: fixed;
    right: 0px;
      a {
      color: white;
      text-decoration: none;
      font-size: 12px;
      font-family: "Brand Bold";
      font-weight: bold;
      text-transform: uppercase;
      }
    }
  }
  header#navbar{
    margin-top: 0px; 
    background-color: transparent;
    border-color: transparent;
    a.logo{
      margin: 0px;
    }
    a.logo + a{ 
      display: none;
    }
    .navbar-collapse {
      background: transparent;
      border-color: transparent;
      display: none !important;
    }
  }
  div.main-container {
    .row {
      section {
        /* h1.page-header {*/
        /*   display: none;*/
        /* }*/
        /*___________—*_*.. Hecho de emocion ..*_*..___________*/
        section#block-bean-mecanica {
          h2 {
            text-align: center;
            font-family: Brand Italic;
            font-size: 60px;
            text-transform: uppercase;
          }
          div.field-name-field-habilidad {
            div.conte {
              p {
                text-align: center;
                font-size: 18px;
                font-family: Brand Regular;
                text-transform: uppercase;
                margin-bottom: 50px;
                &:last-child {
                  display: none;
                }
              }
            }
          }
          fieldset {
            position: relative;
            background-color: transparent;
            border-color: transparent;
            border-radius: 0px;
            -webkit-box-shadow: 0 1px 1px transparent;
            box-shadow: 0 1px 1px transparent;
            legend {
              display: none;
            }
            div.collapse.in {
              padding: 0px;
              img {
                /* width: 100%;*/
                z-index: 1;
              }
            }
          }
          fieldset.group-container-first {
            margin: 0px;
              padding: 0px;
            div.collapse.in {
              background: url(../img/marco_home_video.png);
              background-size: 100% 100%;
              background-repeat: no-repeat;
              width: 100%;
              height: 100%;
              z-index: 10;
              padding: 30px 28px 13px;
            }
          }
          fieldset.group-container-second {
            div.collapse.in {
            background: url(../img/marco_home_mecanica.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            z-index: 10;
              div.field-name-field-subtitulo {
                 div.field-item.even {
                  font-size: 24px;
                  font-family: Brand Bold;
                  color: $negro;
                  font-weight: bold;
                  text-align: center;
                }
              }
              div.field-name-field-resumen {
                div.field-item.even {
                  font-family: Brand Regular;
                  color: black;
                  font-size: 14px;
                  text-align: left;
                  li {
                    list-style: url(../img/marco-home-punto.png);
                    list-style-position: outside;
                    padding-left: 10px;
                      padding-bottom: 17px;
                      a {
                        text-decoration: none;
                        border-bottom: 2px solid #939394;
                        outline: none;
                        color: $negro;
                      }
                  }
                }
              }
              div.field-name-field-link {
                text-align: center;
                div.field-item.even {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    p {
                      width: 210px;
                      height: 47px;
                      padding: 14px 0px;
                      background: $rojo;
                      -webkit-transform: skewX(-34deg);
                      transform: skewX(-34deg);
                      outline: none;
                    a {
                      color: white;
                      text-decoration: none;
                      -webkit-transform: skewX(34deg);
                      transform: skewX(34deg);
                      display: inline-block;
                      font-size: 12px;
                      font-family: "Brand Bold";
                      font-weight: bold;
                    }
                    a{
                      div {
                        display: none;
                      }
                    }
                    }
                    p:before{
                    content: "";
                    background: $rojo;
                    position: absolute;
                    top: 0px;
                    left: -7%;
                    width: 11px;
                    height: 47px;
                    }
                    p:after{
                    content: "";
                    background: $rojo;
                    position: absolute;
                    top: 0px;
                    right: -5%;
                    width: 6px;
                    height: 47px;
                    }
                }
              }
            }
          }
          fieldset.group-container-three {
            margin-top: 50px;
            margin-bottom: 150px;

            div.field-item.even {
              p {
                a {
                  background: url(../img/scroll_home.gif);
                  background-size: contain;
                  background-repeat: no-repeat;
                  text-indent: -999%;
                  width: 60px;
                  height: 60px;
                  display: inline-block;
                  pointer-events: none;
                }
              }
            }
          }
        }
        /*___________—*_*.. Galeria ..*_*..___________*/  
        section#block-nissan-galeria {
          h2 {
            font-size: 26px;
            font-family: "Brand bold";
            color: $negro;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
            background: url(../img/galery_home.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 193px;
            padding: 10px 46px;
            margin-left: auto;
            margin-right: auto;
          }
          div.subtitulo.nissan {
            position: relative;
            margin-top: 69px;
            margin-bottom: 71px;
            width: 100%;
            p {
              font-size: 18px;
              font-family: "Brand Regular";
              color: $negro;
              padding: 26px 34px 17px;
              margin: 0px;
              width: 63%;
              background: url(../img/margen_galery_home.png);
              background-size: 100% 100%;
              background-repeat: no-repeat;
              margin: auto;    
            }
          }
          div#Carousel {
            ol {
              li {
                background-color: #9d9d9d;
              }
              li.active {
                background: $rojo;
              }
            }
            div.carousel-inner {
              a.thumbnail{
                background-color: transparent;
                padding: 0px;
                div.vjs-controls-enabled {
                  width: 100%;
                  height: 100%;
                  min-height: 16pc;
                  button.vjs-big-play-button{
                    height: 0.9em;
                    width: 4.6em;
                    top: 40%;
                    left: 30%;
                    background: $rojo;
                    border-radius: 0px;
                    border: none;
                    -webkit-transform: skewX(-34deg);
                            transform: skewX(-34deg);
                    line-height: normal;
                    padding: 0px;
                    text-align: center;
                    -webkit-box-shadow: 4px 3px 0px 1px rgba(0, 0, 0, 0.44);
                            box-shadow: 4px 3px 0px 1px rgba(0, 0, 0, 0.44);
                    &:hover {
                      background-color: $negro;
                      color: white;
                    }
                    span {
                      &.vjs-control-text {
                        font-size: 17px;
                        line-height: normal;
                        clip: initial;
                        overflow: inherit;
                        -webkit-transform: skewX(34deg);
                                transform: skewX(34deg);
                        color: white;
                        display: inline-block;
                        text-align: left;
                        height: 0px;
                        width: auto;
                        position: absolute;
                        top: 4px;
                        left: 57px;
                    } 
                      &.vjs-icon-placeholder {
                        position: absolute;
                        top: -4px;
                        left: -6px;
                        &::before {
                          -webkit-transform: skewX(34deg);
                                  transform: skewX(34deg);
                          position: absolute;
                          top: 7px;
                          left: 45px;
                          content: "";
                          width: 20px;
                          height: 20px;
                          background: url(../img/play.svg);
                          background-repeat: no-repeat;
                          background-size: 100% 100%;
                          -webkit-filter: brightness(9);
                          filter: brightness(8);
                        }
                      }
                    }
                  }
                }
              }
              .p-nombre, .p-lugar{
                text-align: center;
              }
              .p-nombre{
                margin-top: -15px;
                font-weight: bold;
              }
            }
            a.left.carousel-control {
              background: url(../img/galery_home_prev.png);
              background-size: contain;
              background-repeat: no-repeat;
              border-radius: 0px ;
              border: none;
              opacity: inherit;
              color: $rojo;
              text-indent: 13px;
              text-indent: -666em;
              overflow: hidden;
              width: 21px;
              height: 26px;
              top:40%;
              margin: 0px;
            }
            a.right.carousel-control {
              background: url(../img/galery_home_next.png);
              background-size: contain;
              background-repeat: no-repeat;
              border-radius: 0px ;
              border: none;
              opacity: inherit;
              top:50%;
              color: $rojo;
              text-indent: 13px;
              text-indent: -666em;
              overflow: hidden;
              width: 21px;
              height: 26px;
              top:40%;
              margin: 0px;
            }
          }
        }   
      }
    }
  }
}
@media screen and (max-width: $breakpoint-Laptop) {
  body.front.page-node {
    background: url(../img/fondo_home_movil.png);
    background-size: cover;
    background-repeat: no-repeat;
    div#skip-link {
      p {
        display: none;
      }
    }
    header#navbar {
      div.navbar-header{
        a.pull-left {
          width: 100%;
          > img {
            width: 100%;
          }
        }
      }
    }
    div.main-container {
      .row {
        section {
          section#block-bean-mecanica {
            h2 {
              font-size: 60px; 
            }
            div.field-name-field-habilidad {
              div.conte {
                p {
                  margin-bottom: 17px;
                  &:first-child {
                    display: none;
                  }
                  &:last-child {
                    display: block;
                  }
                }
              }
            }
            fieldset.group-container-first {
              width: 100%;
              div.collapse.in {
                padding: 50px 46px 18px;
              }
            }
            fieldset.group-container-second {
              width: 100% !important;
              div.collapse.in {
                background: none;
                div.field-name-field-subtitulo {
                  margin-top: 25px;
                  margin-bottom: 25px;
                  div.field-item.even {
                    font-size: 24px;
                  }
                }
                div.field-name-field-resumen {
                  div.field-item.even {
                    li {
                      a {
                        border:none;
                        pointer-events: none; 
                      }
                    }
                  }
                }
                div.field-name-field-link {
                  div.field-item.even {
                    p {
                      background: #c61633;
                      color: #f1f2f2;
                      width: 100%;
                      margin: 0px 15px;
                      &::before, &:after {
                        display: none;
                      }
                      -webkit-transform: skewX(0deg);
                      transform: skewX(0deg);
                      a{
                        -webkit-transform: skewX(0deg);
                        transform: skewX(0deg);
                      }
                    }
                  }
                }
              }
            }
            fieldset.group-container-three {
              display: none;
            }
          }
          section#block-nissan-galeria {
            div#Carousel {
              padding: 0px;
              padding-left: 15px;
              padding-right: 15px; 
              div.subtitulo.nissan {
                p {
                  width: 100%;
                  /* font-size: 13px;*/
                  padding: 16px 28px 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-tablet) {
  body.front.page-node {
    div#skip-link {
      p {
        top: 1em;;
        right: -7px;
      }
    }
    header#navbar {
      div.navbar-header{
        button.navbar-toggle {
        display: none;
        }
        a.pull-left{
          width: 200px;
   
        }
      }
    }
    div.main-container {
      .row {
        section {
          padding: 0px;
          section#block-bean-mecanica {
            h2 {
              font-size: xx-large; 
            }
            div.field-name-field-habilidad {
              div.conte {
                p {
                  margin-bottom: 17px;
                }
              }
            }
            fieldset.group-container-first {
              div.collapse.in {
                padding: 38px 35px 15px !important;
              }
            }
            fieldset.group-container-second {
              div.collapse.in {
                background: none;
                div.field-name-field-subtitulo {
                  div.field-item.even {
                  }
                }
              }
            }
          }
        }
      }
    }
    div#Carousel {
      div.carousel-inner {
        a.thumbnail{
          div.vjs-controls-enabled {
            button.vjs-big-play-button{
              top: 40% !important;
              left: 40% !important;
            }
          }
        }
      }
      a.left.carousel-control, a.right.carousel-control {
        display: none;
      }
    }
  }
}
@media screen and (max-width: $breakpoint-miniphone) {
  body.front.page-node {
    header#navbar {
      div.navbar-header{
        button.navbar-toggle {
        display: none;
        }
        a.pull-left{
          width: 104px;
        }
      }
    }
    div.main-container {
      .row {
        section {
          section#block-bean-mecanica {
            h2 {
              font-size: 2em; 
            }
            div.field-name-field-habilidad {
              div.conte {
                p {
                  font-size: 12px;
                }
              }
            }
            fieldset.group-container-first {
              div.collapse.in {
                padding: 17px 17px 5px !important
              }
            }
            div.field-name-field-resumen {
              div.field-item.even {
                ul {
                  -webkit-padding-start: 22px;
                }
              }
            }
          }
          section#block-nissan-galeria {
            div.subtitulo.nissan {
              p {
                width: 100%;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

/*------------------------------------------------------------------------------*/
/*  Formulario de Registro */
/*------------------------------------------------------------------------------ */
/*___________—*_*.. Fondo modal ..*_*..___________*/ 
div#modalBackdrop {
  background-color: $negro !important;
}
div#__lpform_edit-submitted-fielset-acudiente-nombres,div#__lpform_edit-submitted-fielset-acudiente-nombres-apellidos-mama {
  img {
    display: none;
  }
}

body.front #first-time p, body.front h1.page-header {
 display:none;
}
/* -\* Nuevo comentario /*- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(http://loadinggif.com/images/image-selection/3.gif) 50% 50% no-repeat #b6b5b5;
}
/*___________—*_*.. Formulario Registro  ..*_*..___________*/
#modalContent {
  .modal-content {
    border-radius: 0px;
    border: 0px solid transparent;
    -webkit-box-shadow: 0 5px 15px transparent;
      box-shadow: 0 5px 15px transparent;
    .modal-header {
      border-bottom: 0px solid transparent;
      position: relative;
      padding: 0px;
      button {
        background: #000000;
        opacity: initial;
        color: white;
        margin: 0px;
        padding: 1px 7px 2px;
        font-size: 32px;
        font-weight: normal;
        border-color: transparent;
        outline: none;
      }
      h4 {
        padding: 31px 0px 10px;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        font-family: "Brand Bold";
        color: black;
          &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 47%;
          width: 5%;
          border-bottom: 6px solid $rojo;
        }
      }
      div.webform-component--paso-1 {
        position: absolute;
        top: 0px;
        left: 0px;
        background: url(../img/paso.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: .2em 3.5em;
        color: white;
        p {
          font-size: 14px;
          font-family: "Brand Regular";
          color: rgb(255, 255, 255);
        }
      }
      div.webform-component--paso-2 {
        position: absolute;
        top: 0px;
        left: 0px;
        background: url(../img/paso.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: .2em 3.5em;
        color: white;
        p {
          font-size: 14px;
          font-family: "Brand Regular";
          color: rgb(255, 255, 255);
        }
      }
    }
    .modal-body {
      div.webform-component--paso-1 p {
        position: absolute;
        top: 0px;
      }
      div.webform-component--formulario-de-registro {
        margin-bottom: 0px;
        p {
          font-size: 14px;
          font-family: "Brand Regular";
          color: $negro;
          text-align: center;
        }
      }
      fieldset {
        border-color: transparent;
        -webkit-box-shadow: 0 1px 1px transparent;
          box-shadow: 0 1px 1px transparent;
        margin-bottom: 0px;
        padding-left: 10%;
        padding-right: 10%;
        legend {
          background-color: transparent;
          border-color: transparent;
          padding: 10px 15px 0px;
          span {
            font-size: 12px;
            font-family: "Brand Regular";
            color: $negro;
            padding-left: 15px;
          }
        }
        div.panel-body {
          padding: 9px 15px 0px;
          div {
            position: relative;
            &.webform-component-select::before {
              content: "";
              position: absolute;
              top: 10px;
                right: 28px;
              background-image: url(../img/formulario_flecha.png);
              background-size: contain;
              background-repeat: no-repeat;
              width: 25px;
              height: 25px;
            }
            input {
              border-radius: 0px;
              border: 0px solid #ccc;
              background-color: #cbd0d7;
              background-image: none !important;
              -webkit-box-shadow: inset 0 0px 0px transparent;
                box-shadow: inset 0 0px 0px transparent;
              font-size: 12px;
              font-family: "Brand Regular";
              color: $negro;
            }
            select {
              -webkit-appearance: button; 
              border-radius: 0px;
              border: 0px solid #ccc;
              color: #9B9B9B;
              background-color: #cbd0d7;
              -webkit-box-shadow: inset 0 0px 0px transparent;
                      box-shadow: inset 0 0px 0px transparent;
              outline: none;
              -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
              outline: none;
              
            }
          }
        }
      }
      div.form-actions {
        text-align: center;
          position: relative;
          button {
          border-radius: 0px;
          border-color: transparent;
          color: white;
          padding: .4em 3em;
          &.webform-submit {
            background: url(../img/terminos_button.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
          &.webform-next {
            background: url(../img/terminos_button.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            text-transform: uppercase;
          }
          &.webform-previous {
            background: url(../img/terminal_button_negro.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
          div {
            display: none;
          }
          }
      }
      div.webform-component--paso2 {
        text-align: center;
      }
      div#edit-submitted-video-ajax-wrapper {
        label {
          width: 100%;
          text-align: center;
          font-size: 16px;
          color: #363636;
          font-weight: bold;
        }
        div.form-managed-file {
          text-align: center;
          input {
            padding: 0px;
            padding-left: calc(44% - 3em);
            -webkit-box-shadow: none;
                    box-shadow: none;
            border: none;
            outline: none;
          }
          button {
            background-color: $rojo;
            padding: .8em 6em;
            border-radius: 20px;
            border-color: $rojo;
            color: #fff;
            span.icon.glyphicon::before {
              content: "";
              display: inline-block;
              background-image: url(../img/terminal_icon_updload.png) !important;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              width: 17px;
              height: 17px;
            }
          }
        }
        div.help-block {
          display: none;  
        }
      }
      div.webform-component--sudtitulo-informacion {
        p {
          font-size: 14px;
          font-family: "Brand Regular";
          color: $negro;
          text-align: center;
        }
      }
      div.webform-component--informacion {
        p {
          padding-left: 10%;
          padding-right: 10%;
          font-size: 14px;
          font-family: "Brand Regular";
          color: $negro;
          text-align: left;
        }
      }
      div.webform-component--especificaciones {
        text-align: center;
        margin-bottom: 0px;
        p {
          margin-top: 17px;
            margin-bottom: 37px;  
        }
      }
      @media screen and (max-width: $breakpoint-tablet) {
        div.webform-component--especificaciones {
          p {
            width: 40%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      div.webform-component--paso-3 {
        text-align: center;
          margin-bottom: 0px;
        p{
          font-size: 16px;
          font-family: "Brand Bold";
          color: black;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
      div.webform-component--autorizo-ser-contactado-a-traves-de, div.webform-component--autorizo-ser-contactado-por {
        text-align: center;
        > label {
          font-family: "Brand Regular";
          color: black;
          font-weight: normal;
          margin-bottom: 29px;
        }
      }
      div.webform-component--he-leido-y-acepto-los-terminos-y-condiciones, div.webform-component--he-leido-y-acepto-el-aviso-de-privacidad, div.webform-component--obligatorio, div.webform-component--acuerdo-ser-contacto {
        text-align: center;
      }
      @media screen and (max-width: $breakpoint-tablet) {
        div.webform-component--he-leido-y-acepto-los-terminos-y-condiciones, div.webform-component--he-leido-y-acepto-el-aviso-de-privacidad, div.webform-component--obligatorio, div.webform-component--acuerdo-ser-contacto {
          margin-top: -3px;
        }
      }
      div.webform-component--he-leido-y-acepto-los-terminos-y-condiciones  {
        label {
          font-family: "Brand Regular";
          a {
            text-decoration: none;
            border-bottom: 2px solid #939394;
            outline: none;
            color: black;
          }     
        }
      }
      div.webform-component--autorizo-ser-contactado-a-traves-de {
        div#edit-submitted-autorizo-ser-contactado-a-traves-de {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
          width: 50%;
          margin-left: auto;
          margin-right: auto;
        }
      }
      div.webform-component--autorizo-ser-contactado-a-traves-de  {
        div#edit-submitted-autorizo-ser-contactado-a-traves-de {
          div {
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
      }
      @media screen and (max-width: $breakpoint-Laptop) {
        div.webform-component--autorizo-ser-contactado-a-traves-de  {
          div#edit-submitted-autorizo-ser-contactado-a-traves-de {
            div {
              margin-bottom: 13px;
            }
          }
        }
      }
      div.webform-component--autorizo-ser-contactado-a-traves-de {
        div#edit-submitted-autorizo-ser-contactado-a-traves-de {
          div {
            label {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: reverse;
              -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
              padding-right: 20px;
              font-family: "Brand Regular";
              input {
                margin-left: 20px;
              }
            }
          }
        }
      }
      @media screen and (max-width: $breakpoint-Laptop) {
        div.webform-component--autorizo-ser-contactado-a-traves-de {
          div#edit-submitted-autorizo-ser-contactado-a-traves-de {
            display: block;
            text-align: left;
            margin: 0px;
            width: 100%;
            div {
              label {
                display: block;
                input {
                  right: 0px;
                }
              }
            }
          }
        }
      }
      div.webform-component--autorizo-ser-contactado-por, div.webform-component--autorizo-ser-contactado-por, div.webform-component--acuerdo-ser-contacto, div.webform-component--acuerdo-ser-contacto {
        div#edit-submitted-autorizo-ser-contactado-por, div#edit-submitted-acuerdo-ser-contacto, div#edit-submitted-autorizo-ser-contactado-por, div#edit-submitted-acuerdo-ser-contacto {
          div {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding-left: 24px;
            label {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: reverse;
              -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
              padding-right: 20px;
              font-family: "Brand Regular";
              input {
                margin-left: 20px;
              }
            }
          }
        }
      }
      @media screen and (max-width: $breakpoint-Laptop) {
        div.webform-component--autorizo-ser-contactado-por, div.webform-component--autorizo-ser-contactado-por, div.webform-component--acuerdo-ser-contacto, div.webform-component--acuerdo-ser-contacto {
          div#edit-submitted-autorizo-ser-contactado-por, div#edit-submitted-acuerdo-ser-contacto, div#edit-submitted-autorizo-ser-contactado-por, div#edit-submitted-acuerdo-ser-contacto {
            text-align: left;
            margin: 0px;
            width: 100%;
            div {
              display: block;
              margin-bottom: 17px;
              label {
                display: block;
                padding: 0px;
                input {
                  right: 0px;
                }
              }
            }
          }
        }
      }
      div.webform-component--he-leido-y-acepto-los-terminos-y-condiciones {
        div#edit-submitted-he-leido-y-acepto-los-terminos-y-condiciones {
          div {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            label {
              margin-right: 20px;
              display: -webkit-inline-box;
              display: -ms-inline-flexbox;
              display: inline-flex;
              padding-right: 20px;
              font-family: "Brand Regular";
              input {
                margin: 3px 18px 0px 0px;
                position: absolute;
                right: 0px;
              }
              button {
                padding: 0px;
                background: none;
                border: none;
                border-radius: 0px;
                color: black;
                font-size: 14px;
                font-family: "Brand Regular";
                line-height: 1.42857143;
                padding-left: 5px;
                border-bottom: 2px solid #939394;
              }
            }
          }
        }
      }
      div.webform-component--he-leido-y-acepto-el-aviso-de-privacidad {
        div#edit-submitted-he-leido-y-acepto-el-aviso-de-privacidad {
          div {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            label {
              margin-right: 20px;
              display: -webkit-inline-box;
              display: -ms-inline-flexbox;
              display: inline-flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: reverse;
                  -ms-flex-direction: row-reverse;
                      flex-direction: row-reverse;
              padding-right: 20px;
              font-family: "Brand Regular";
              input {
                margin: 3px 0px 0px 25px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
              }
            }
          }
        }
      }
      @media screen and (max-width: $breakpoint-Laptop) {
        div.webform-component--he-leido-y-acepto-los-terminos-y-condiciones,div.webform-component--he-leido-y-acepto-el-aviso-de-privacidad {
          div#edit-submitted-he-leido-y-acepto-los-terminos-y-condiciones,div#edit-submitted-he-leido-y-acepto-el-aviso-de-privacidad {
            text-align: left;
            margin: 0px;
            width: 100%;
            div {
              display: block;
              padding-left: 24px;
              label {
                display: block;
                padding: 0px;
                input {
                right: 0px;
                margin: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-tablet) {
  #modalContent {
    .modal-content {
      .modal-body {
        fieldset { 
          padding: 0px;
        }
        legend {
          text-align: center;
          span {
            font-size: 12px;
            font-family: "Brand Regular";
            color: $negro;
            padding-left: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-miniphone) {
  #modalContent {
    .modal-content {
      .modal-header {
        h4 {
          font-size: 14px;
          &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: calc(45% - 1em);
            width: 69px;
            border-bottom: 6px solid #c61633;
          }
        }
      }
      .modal-body {
        fieldset { 
          padding: 0px;
        }
      }
    }
  }
}
/*___________—*_*.. footer ..*_*..___________*/
footer {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px solid transparent;
  background-color: #000000;
  width: 100% !important;
  text-align: center;
  div.info-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  div.nissan-colombia {
    font-size: 20px;
    font-family: "Brand Regular";
    color: rgba(255, 255, 255, 0.529);
  }
  p {
    a {
      font-size: 20px;
      font-family: "Brand Regular";
      color: $rojo;
      padding-left: 3px;
      }
    }
  }
}
@media screen and (max-width: $breakpoint-Laptop) {
  footer {
    div.info-footer {
      display: inherit;
      div.nissan-colombia {
        font-size: 14px;
      }
      p {
        a {
          font-size: 14px; 
        }
      }
    }
  }
}

/*___________—*_*..  Gracias ..*_*..___________*/
body.node-type-article {
  background: url(../img/Gracias.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  header#navbar{
    margin-top: 0px; 
    background-color: transparent;
    border-color: transparent;
    a.logo{
      margin: 0px;
    }
    a.logo + a{ 
      display: none;
    }
    .navbar-collapse {
      background: transparent;
      border-color: transparent;
      display: none !important;
    }
  }
  div.main-container {
    .row {
      section {
        h1 {
          font-size: 60px;
          font-family: "Brand Italic";
          color: $negro;
          text-transform: uppercase;
          border: none;
          text-align: center;
          margin-top: 16%;
          margin-bottom: 5px;
        }
        div.region-content {
          header {
            display: none;
          }
          div.field-name-body {
            text-align: center;
            p {
              font-size: 24px;
              font-family: "Brand Regular";
              color: $negro;
              text-transform: uppercase;
              font-weight: normal;
            }
          }
          div.field-name-field-volver {
            text-align: center;
            margin-top: 6%;
            margin-bottom: 20%;
            a {
              background: url(../img/button_guardar.png);
              background-size: 100% 100%;
              background-repeat: no-repeat;
              color: white;
              padding: 1em 6em;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-Laptop) { 
  body.node-type-article {
    background: url(../img/Gracias_movil.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    header#navbar {
      div.navbar-header{
        a.pull-left {
          width: 100%;
          > img {
            width: 100%;
          }
        }
      }
    }
    div.main-container {
      .row {
        section {
          h1 {

          }
          div.region-content {
            header {
       
            }
            div.field-name-body {
                  width: 50%;
                  margin: auto;
              p {
             
              }
            }
            div.field-name-field-volver {
            width: 100%;
              margin-top: 20%;
              margin-bottom: 0%;
              div.field-item{
                background-color: $rojo;
                padding: 1em 0em;
                margin-right: 15px;
                margin-left: 15px;
                a {
                  background: none;
                }
              } 
            }
          }
        }
      }
    }
  footer {
    margin-top: 10px;
  }  
  }
}
@media screen and (max-width: $breakpoint-tablet) { 
  body.node-type-article {
    header#navbar {
      div.navbar-header{
        a.pull-left {
          width: 200px;
        }
      }
    }
    div.main-container {
      .row {
        section {
          div.region-content {
            div.field-name-body {
              width: 60%;
            }
            div.field-name-field-volver {
            width: 100%;
              margin-top: 20%;
              margin-bottom: 0%;
              div.field-item{
                background-color: $rojo;
                padding: 1em 0em;
                margin-right: 15px;
                margin-left: 15px;
                a {
                  background: none;
                }
              } 
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpoint-miniphone) { 
  body.node-type-article {
    background: url(../img/Gracias_movil.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    header#navbar {
      div.navbar-header{
        a.pull-left {
          width: 104px;
        }
      }
    }
    div.main-container {
      .row {
        section {
          h1 {
            font-size: 32px;
            margin-top: 55%;
          }
          div.region-content {
            div.field-name-body {
              p {
                font-size: 14px;
              }
            }
            div.field-name-field-volver {
              margin-top: 44%;
              div.field-item {
        
              } 
            }
          }
        }
      }
    } 
  }
}

/*modal dentro de otra modal*/
.modal-backdrop.fade.in {
  opacity: 0;
  z-index: 0;
}
div.webform-component--terminos {
  div.modal {
    div.modal-content {
      -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5) !important;
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5) !important;
    }
  }
}


.radio input[type="radio"],input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
  border: 1px solid black;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
  -webkit-appearance: button;
  margin: 3px 0px 0px -25px;
}
.radio input[type="radio"]:checked,input[type="checkbox"]:checked {
  background: url(../img/chulo.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: $breakpoint-Laptop) {
  .radio input[type="radio"],input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border: 1px solid #aeaeb2;
  }
}
#webform-client-form-3 button.webform-submit, #webform-client-form-7 button.webform-submit {
    display: none;
}
.modal-default.webform-client-form-7 .modal-header h4{
  display: none;
}

.modal-default.webform-client-form-7 .modal-header button{
  position: absolute;
  right: 0%;
  z-index: 999;
}

/*___________—*_*..  Pre Home  ..*_*..___________*/

div#modalBackdrop + div#modalpre-home {
  div.modal-content {
    background: none;
    border: 1px solid white;
    div.modal-header {
      padding-left: 0px;
      border: none;
      button {
        font-size: 16px;
        font-family: "Brand Regular";
        font-weight: normal;
        padding: 10px;
        text-indent: 1px;
        &::before {
          content: "Skip";
          display: inline-block;
          padding-bottom: 3px;
          border-bottom: 2px solid #969696;
        }
      }
      h4 {
        display: none;
      }
    }
    div#modal-content {
      // padding: 0px;
      // bottom: auto;
      // clear: none;
      // cursor: default;
      // float: none;
      // max-height: none !important;
      // max-width: none;
      // min-height: 0;
      // min-width: 0;
      div.webform-component--image-modal {
        margin: 0px;
        div.row {
          margin: 0px;
          div[class*="col-"] {
            padding: 0px;
            img {
              width: 100%;
              // max-height: 41pc;
              padding: 8px
            }
          }
        }   
      }
    }
  }
}















