# Ignore configuration files that may contain sensitive information.
.htaccess
sites/*/*settings*.php
sites/default/**/files
/sites/default/**/files
/sites/default/**/private
*..htaccess
# Ignore paths that contain generated content.

