@charset "UTF-8";
@font-face {
  font-family: "Brand Bold";
  src: url("../fonts/Nissan_Brand_Bold.otf"); }

@font-face {
  font-family: "Brand Italic";
  src: url("../fonts/Nissan_Brand_Italic.otf"); }

@font-face {
  font-family: "Brand Light";
  src: url("../fonts/Nissan_Brand_Light.otf"); }

@font-face {
  font-family: "Brand Regular";
  src: url("../fonts/Nissan_Brand_Regular.otf"); }

/* ---- media query ---- */
/*------------------------------------------------------------------------------*/
/*  home */
/*------------------------------------------------------------------------------ */
body {
  background: url(../img/fondo_home.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0px !important; }
  body div#skip-link {
    position: relative; }
    body div#skip-link p {
      background: url(../img/registrarme_home.png);
      background-size: cover;
      background-repeat: no-repeat;
      padding: 1em 2em 1em 4em;
      position: absolute;
      right: 0px; }
      body div#skip-link p a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        font-family: "Brand Bold";
        font-weight: bold;
        text-transform: uppercase; }
  body header#navbar {
    margin-top: 0px;
    background-color: transparent;
    border-color: transparent; }
    body header#navbar a.logo {
      margin: 0px; }
    body header#navbar a.logo + a {
      display: none; }
    body header#navbar .navbar-collapse {
      background: transparent;
      border-color: transparent;
      display: none !important; }
  body .main-container .row section {
    /*___________—*_*.. Hecho de emocion ..*_*..___________*/
    /*___________—*_*.. Galeria ..*_*..___________*/ }
    body .main-container .row section h1 {
      display: none; }
    body .main-container .row section section#block-bean-mecanica h2 {
      text-align: center;
      font-family: Brand Italic;
      font-size: 60px; }
    body .main-container .row section section#block-bean-mecanica div.field-name-field-habilidad div.conte p {
      text-align: center;
      font-size: 18px;
      font-family: Brand Regular;
      text-transform: uppercase;
      margin-bottom: 50px; }
      body .main-container .row section section#block-bean-mecanica div.field-name-field-habilidad div.conte p:last-child {
        display: none; }
    body .main-container .row section section#block-bean-mecanica fieldset {
      position: relative;
      background-color: transparent;
      border-color: transparent;
      border-radius: 0px;
      -webkit-box-shadow: 0 1px 1px transparent;
      box-shadow: 0 1px 1px transparent; }
      body .main-container .row section section#block-bean-mecanica fieldset legend {
        display: none; }
      body .main-container .row section section#block-bean-mecanica fieldset div.collapse.in {
        padding: 0px; }
        body .main-container .row section section#block-bean-mecanica fieldset div.collapse.in img {
          /* width: 100%;*/
          z-index: 1; }
    body .main-container .row section section#block-bean-mecanica fieldset.group-container-first {
      margin: 0px;
      padding: 0px; }
      body .main-container .row section section#block-bean-mecanica fieldset.group-container-first div.collapse.in {
        background: url(../img/marco_home_video.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 30px 28px 13px; }
    body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in {
      background: url(../img/marco_home_mecanica.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      z-index: 10; }
      body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-subtitulo div.field-item.even {
        font-size: 24px;
        font-family: Brand Bold;
        color: black;
        font-weight: bold;
        text-align: center; }
      body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-resumen div.field-item.even {
        font-family: Brand Regular;
        color: black;
        font-size: 14px;
        text-align: left; }
        body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-resumen div.field-item.even li {
          list-style: url(../img/marco-home-punto.png);
          list-style-position: outside;
          padding-left: 10px;
          padding-bottom: 17px; }
          body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-resumen div.field-item.even li a {
            text-decoration: none;
            border-bottom: 2px solid #939394;
            outline: none;
            color: black; }
      body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link {
        text-align: center; }
        body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even p {
            width: 210px;
            height: 47px;
            padding: 14px 0px;
            background: #c61633;
            -webkit-transform: skewX(-34deg);
            transform: skewX(-34deg); }
            body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even p a {
              color: white;
              text-decoration: none;
              -webkit-transform: skewX(34deg);
              transform: skewX(34deg);
              display: inline-block;
              font-size: 12px;
              font-family: "Brand Bold";
              font-weight: bold; }
            body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even p a div {
              display: none; }
          body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even p:before {
            content: "";
            background: #c61633;
            position: absolute;
            top: 0px;
            left: -7%;
            width: 11px;
            height: 47px; }
          body .main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even p:after {
            content: "";
            background: #c61633;
            position: absolute;
            top: 0px;
            right: -5%;
            width: 6px;
            height: 47px; }
    body .main-container .row section section#block-bean-mecanica fieldset.group-container-three {
      margin-top: 50px;
      margin-bottom: 150px; }
      body .main-container .row section section#block-bean-mecanica fieldset.group-container-three div.field-item.even p a {
        background: url(../img/scroll_home.png);
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -999%;
        width: 60px;
        height: 60px;
        display: inline-block; }
    body .main-container .row section section#block-nissan-galeria h2 {
      font-size: 26px;
      font-family: "Brand bold";
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
      background: url(../img/galery_home.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 193px;
      padding: 10px 46px;
      margin-left: auto;
      margin-right: auto; }
    body .main-container .row section section#block-nissan-galeria div#Carousel div.subtitulo.nissan {
      position: relative;
      margin-top: 69px;
      margin-bottom: 71px;
      width: 100%; }
      body .main-container .row section section#block-nissan-galeria div#Carousel div.subtitulo.nissan p {
        font-size: 18px;
        font-family: "Brand Regular";
        color: black;
        padding: 26px 34px 17px;
        margin: 0px;
        width: 63%;
        background: url(../img/margen_galery_home.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: auto; }
    body .main-container .row section section#block-nissan-galeria div#Carousel ol li {
      background-color: #9d9d9d; }
    body .main-container .row section section#block-nissan-galeria div#Carousel ol li.active {
      background: #c61633; }
    body .main-container .row section section#block-nissan-galeria div#Carousel div.carousel-inner a.thumbnail {
      background-color: transparent;
      padding: 0px; }
      body .main-container .row section section#block-nissan-galeria div#Carousel div.carousel-inner a.thumbnail div.video-js {
        width: 100%;
        height: 100%;
        min-height: 16pc; }
        body .main-container .row section section#block-nissan-galeria div#Carousel div.carousel-inner a.thumbnail div.video-js button {
          height: 0.9em;
          width: 4.6em;
          top: 40%;
          left: 40%;
          background: #c61633;
          border-radius: 0px;
          border: none;
          transform: skewX(-34deg);
          line-height: normal;
          padding: 0px;
          text-align: center;
          box-shadow: 25px 22px 0px 12px rgba(0, 0, 0, 0.44); }
          body .main-container .row section section#block-nissan-galeria div#Carousel div.carousel-inner a.thumbnail div.video-js button span.group-container-second {
            font-size: 17px;
            line-height: normal;
            clip: initial;
            overflow: inherit;
            transform: skewX(34deg);
            color: white;
            display: inline-block;
            text-align: left;
            height: 0px;
            width: auto;
            position: absolute;
            top: 4px;
            left: 32px; }
          body .main-container .row section section#block-nissan-galeria div#Carousel div.carousel-inner a.thumbnail div.video-js button span.vjs-icon-placeholder {
            position: absolute;
            top: 0px;
            left: 0px; }
            body .main-container .row section section#block-nissan-galeria div#Carousel div.carousel-inner a.thumbnail div.video-js button span.vjs-icon-placeholder::before {
              position: absolute;
              top: 0px;
              left: 0px;
              transform: skewX(34deg); }
    body .main-container .row section section#block-nissan-galeria div#Carousel a.left.carousel-control {
      background: url(../img/galery_home_prev.png);
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 0px;
      border: none;
      opacity: inherit;
      margin-top: 22%;
      color: #c61633;
      text-indent: 13px;
      text-indent: -666em;
      overflow: hidden;
      width: 21px;
      height: 26px; }
    body .main-container .row section section#block-nissan-galeria div#Carousel a.right.carousel-control {
      background: url(../img/galery_home_next.png);
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 0px;
      border: none;
      opacity: inherit;
      margin-top: 22%;
      color: #c61633;
      text-indent: 13px;
      text-indent: -666em;
      overflow: hidden;
      width: 21px;
      height: 26px; }

@media screen and (max-width: 1024px) {
  body {
    background: url(../img/fondo_home_movil.png);
    background-size: cover;
    background-repeat: no-repeat; }
    body div#skip-link p {
      display: none; }
    body header#navbar div.navbar-header a.pull-left {
      width: 100%; }
      body header#navbar div.navbar-header a.pull-left > img {
        width: 100%; }
    body div.main-container .row section section#block-bean-mecanica h2 {
      font-size: 60px; }
    body div.main-container .row section section#block-bean-mecanica div.field-name-field-habilidad div.conte p {
      margin-bottom: 17px; }
      body div.main-container .row section section#block-bean-mecanica div.field-name-field-habilidad div.conte p:first-child {
        display: none; }
      body div.main-container .row section section#block-bean-mecanica div.field-name-field-habilidad div.conte p:last-child {
        display: block; }
    body div.main-container .row section section#block-bean-mecanica fieldset.group-container-first div.collapse.in {
      padding: 24px 22px 9px; }
    body div.main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-resumen div.field-item.even li a {
      border: none;
      pointer-events: none; }
    body div.main-container .row section section#block-nissan-galeria div#Carousel {
      padding: 0px;
      padding-left: 15px;
      padding-right: 15px; }
      body div.main-container .row section section#block-nissan-galeria div#Carousel div.subtitulo.nissan p {
        width: 100%;
        padding: 16px 28px 12px; } }

@media screen and (max-width: 768px) {
  body div#skip-link p {
    top: 1em;
    right: -7px; }
  body header#navbar div.navbar-header button.navbar-toggle {
    display: none; }
  body header#navbar div.navbar-header a.pull-left {
    width: 200px; }
  body div.main-container .row section {
    padding: 0px; }
    body div.main-container .row section section#block-bean-mecanica h2 {
      font-size: xx-large; }
    body div.main-container .row section section#block-bean-mecanica div.field-name-field-habilidad div.conte p {
      margin-bottom: 17px; }
    body div.main-container .row section section#block-bean-mecanica fieldset.group-container-first div.collapse.in {
      padding: 38px 33px 11px; }
    body div.main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in {
      background: none; }
      body div.main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-subtitulo div.field-item.even {
        margin-top: 25px;
        margin-bottom: 25px; }
      body div.main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even p {
        background: #c61633;
        color: #f1f2f2;
        width: 100%;
        margin: 0px 15px;
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg); }
        body div.main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even p::before, body div.main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even p:after {
          display: none; }
        body div.main-container .row section section#block-bean-mecanica fieldset.group-container-second div.collapse.in div.field-name-field-link div.field-item.even p a {
          -webkit-transform: skewX(0deg);
          transform: skewX(0deg); }
    body div.main-container .row section section#block-bean-mecanica fieldset.group-container-three {
      display: none; } }

@media screen and (max-width: 640px) {
  body header#navbar div.navbar-header button.navbar-toggle {
    display: none; }
  body header#navbar div.navbar-header a.pull-left {
    width: 104px; }
  body div.main-container .row section section#block-bean-mecanica h2 {
    font-size: 2em; }
  body div.main-container .row section section#block-bean-mecanica div.field-name-field-habilidad div.conte p {
    font-size: 12px; }
  body div.main-container .row section section#block-bean-mecanica fieldset.group-container-first div.collapse.in {
    padding: 17px 17px 5px; }
  body div.main-container .row section section#block-bean-mecanica div.field-name-field-resumen div.field-item.even ul {
    -webkit-padding-start: 22px; }
  body div.main-container .row section section#block-bean-mecanica section#block-nissan-galeria div#Carousel div.subtitulo.nissan p {
    font-size: 13px; } }

/*------------------------------------------------------------------------------*/
/*  Formulario de Registro */
/*------------------------------------------------------------------------------ */
/*___________—*_*.. Fondo modal ..*_*..___________*/
div#modalBackdrop {
  background-color: black !important; }

div#__lpform_edit-submitted-fielset-acudiente-nombres img {
  display: none; }

body.page-node section#block-system-main {
  display: none; }

/* -\* Nuevo comentario /*- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(http://loadinggif.com/images/image-selection/3.gif) 50% 50% no-repeat #b6b5b5; }

/*___________—*_*.. Formulario Registro  ..*_*..___________*/
#modalContent .modal-content {
  border-radius: 0px;
  border: 0px solid transparent;
  -webkit-box-shadow: 0 5px 15px transparent;
  box-shadow: 0 5px 15px transparent; }
  #modalContent .modal-content .modal-header {
    border-bottom: 0px solid transparent;
    position: relative;
    padding: 0px; }
    #modalContent .modal-content .modal-header button {
      background: #000000;
      opacity: initial;
      color: white;
      margin: 0px;
      padding: 1px 7px 2px;
      font-size: 32px;
      font-weight: normal;
      border-color: transparent;
      outline: none; }
    #modalContent .modal-content .modal-header h4 {
      padding: 15px;
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      font-family: "Brand Bold";
      color: black; }
      #modalContent .modal-content .modal-header h4::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 47%;
        width: 5%;
        border-bottom: 6px solid #c61633; }
  #modalContent .modal-content .modal-body div.webform-component--paso-1 p {
    position: absolute;
    top: 0px; }
  #modalContent .modal-content .modal-body div.webform-component--formulario-de-registro {
    margin-bottom: 0px; }
    #modalContent .modal-content .modal-body div.webform-component--formulario-de-registro p {
      font-size: 14px;
      font-family: "Brand Regular";
      color: black;
      text-align: center; }
  #modalContent .modal-content .modal-body fieldset {
    border-color: transparent;
    -webkit-box-shadow: 0 1px 1px transparent;
    box-shadow: 0 1px 1px transparent;
    margin-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%; }
    #modalContent .modal-content .modal-body fieldset legend {
      background-color: transparent;
      border-color: transparent;
      padding: 10px 15px 0px; }
      #modalContent .modal-content .modal-body fieldset legend span {
        font-size: 12px;
        font-family: "Brand Regular";
        color: black;
        padding-left: 15px; }
    #modalContent .modal-content .modal-body fieldset div.panel-body {
      padding: 9px 15px 0px; }
      #modalContent .modal-content .modal-body fieldset div.panel-body div {
        position: relative; }
        #modalContent .modal-content .modal-body fieldset div.panel-body div.webform-component-select::before {
          content: "";
          position: absolute;
          top: 10px;
          right: 28px;
          background-image: url(../img/formulario_flecha.png);
          background-size: contain;
          background-repeat: no-repeat;
          width: 25px;
          height: 25px; }
        #modalContent .modal-content .modal-body fieldset div.panel-body div input {
          border-radius: 0px;
          border: 0px solid #ccc;
          background-color: #cbd0d7;
          background-image: none !important;
          -webkit-box-shadow: inset 0 0px 0px transparent;
          box-shadow: inset 0 0px 0px transparent;
          font-size: 12px;
          font-family: "Brand Regular";
          color: black; }
        #modalContent .modal-content .modal-body fieldset div.panel-body div select {
          -webkit-appearance: button;
          border-radius: 0px;
          border: 0px solid #ccc;
          color: #9B9B9B;
          background-color: #cbd0d7;
          -webkit-box-shadow: inset 0 0px 0px transparent;
          box-shadow: inset 0 0px 0px transparent;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none; }
  #modalContent .modal-content .modal-body div.form-actions {
    text-align: center;
    position: relative; }
    #modalContent .modal-content .modal-body div.form-actions button {
      border-radius: 0px;
      border-color: transparent;
      color: white;
      padding: .4em 3em; }
      #modalContent .modal-content .modal-body div.form-actions button.webform-submit {
        background: url(../img/terminos_button.png);
        background-size: 100% 100%;
        background-repeat: no-repeat; }
      #modalContent .modal-content .modal-body div.form-actions button.webform-next {
        background: url(../img/terminos_button.png);
        background-size: 100% 100%;
        background-repeat: no-repeat; }
      #modalContent .modal-content .modal-body div.form-actions button.webform-previous {
        background: url(../img/terminal_button_negro.png);
        background-size: 100% 100%;
        background-repeat: no-repeat; }
      #modalContent .modal-content .modal-body div.form-actions button div {
        display: none; }
  #modalContent .modal-content .modal-body div.webform-component--paso2 {
    text-align: center; }
  #modalContent .modal-content .modal-body div#edit-submitted-video-ajax-wrapper label {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #363636;
    font-weight: bold; }
  #modalContent .modal-content .modal-body div#edit-submitted-video-ajax-wrapper div.form-managed-file {
    text-align: center; }
    #modalContent .modal-content .modal-body div#edit-submitted-video-ajax-wrapper div.form-managed-file input {
      padding: 0px;
      padding-left: calc(44% - 3em);
      box-shadow: none;
      border: none;
      outline: none; }
    #modalContent .modal-content .modal-body div#edit-submitted-video-ajax-wrapper div.form-managed-file button {
      background-color: #c61633;
      padding: .8em 6em;
      border-radius: 20px;
      border-color: #c61633;
      color: #fff; }
      #modalContent .modal-content .modal-body div#edit-submitted-video-ajax-wrapper div.form-managed-file button span.icon.glyphicon::before {
        content: "";
        display: inline-block;
        background-image: url(../img/terminal_icon_updload.png) !important;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 17px;
        height: 17px; }
  #modalContent .modal-content .modal-body div#edit-submitted-video-ajax-wrapper div.help-block {
    display: none; }
  #modalContent .modal-content .modal-body div.webform-component--especificaciones {
    text-align: center;
    margin-bottom: 0px; }
    #modalContent .modal-content .modal-body div.webform-component--especificaciones p {
      margin-top: 17px;
      margin-bottom: 37px; }
  #modalContent .modal-content .modal-body div.webform-component--paso-3 {
    text-align: center;
    margin-bottom: 0px; }
    #modalContent .modal-content .modal-body div.webform-component--paso-3 p {
      font-size: 16px;
      font-family: "HelveticaNeu Bold";
      color: black;
      font-weight: bold;
      margin-bottom: 10px; }
  #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-a-traves-de, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por {
    text-align: center; }
    #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-a-traves-de > label, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por > label {
      font-size: 12px;
      font-family: "Brand Regular";
      color: black;
      font-weight: normal;
      margin-bottom: 29px; }
  #modalContent .modal-content .modal-body div.webform-component--he-leido-y-acepto-los-terminos-y-condiciones, #modalContent .modal-content .modal-body div.webform-component--he-leido-y-acepto-el-aviso-de-privacidad, #modalContent .modal-content .modal-body div.webform-component--obligatorio, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto {
    text-align: center; }
  #modalContent .modal-content .modal-body div.webform-component--he-leido-y-acepto-los-terminos-y-condiciones label a {
    text-decoration: none;
    border-bottom: 2px solid #939394;
    outline: none;
    color: black; }
  #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-a-traves-de div#edit-submitted-autorizo-ser-contactado-a-traves-de {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
  #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-a-traves-de div#edit-submitted-autorizo-ser-contactado-a-traves-de div {
    margin-top: 0px;
    margin-bottom: 0px; }
  #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-a-traves-de div#edit-submitted-autorizo-ser-contactado-a-traves-de div label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-a-traves-de div#edit-submitted-autorizo-ser-contactado-a-traves-de div label input {
      margin-left: 20px; }
  #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 24px; }
    #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div label, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div label, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div label, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div label, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div label, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div label, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div label, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div label, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div label, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div label, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div label, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div label, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div label, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div label, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div label, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div label input, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div label input, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div label input, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div label input, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div label input, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div label input, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-autorizo-ser-contactado-por div label input, #modalContent .modal-content .modal-body div.webform-component--autorizo-ser-contactado-por div#edit-submitted-acuerdo-ser-contacto div label input, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div label input, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div label input, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div label input, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div label input, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div label input, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div label input, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-autorizo-ser-contactado-por div label input, #modalContent .modal-content .modal-body div.webform-component--acuerdo-ser-contacto div#edit-submitted-acuerdo-ser-contacto div label input {
        margin-left: 20px; }

@media screen and (max-width: 768px) {
  #modalContent .modal-content .modal-body fieldset {
    padding: 0px; }
  #modalContent .modal-content .modal-body legend {
    text-align: center; }
    #modalContent .modal-content .modal-body legend span {
      font-size: 12px;
      font-family: "Brand Regular";
      color: black;
      padding-left: 15px; } }

@media screen and (max-width: 640px) {
  #modalContent .modal-content .modal-header h4 {
    font-size: 14px; }
    #modalContent .modal-content .modal-header h4::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: calc(45% - 1em);
      width: 69px;
      border-bottom: 6px solid #c61633; }
  #modalContent .modal-content .modal-body fieldset {
    padding: 0px; } }

/*___________—*_*.. footer ..*_*..___________*/
footer {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px solid transparent;
  background-color: #000000;
  width: 100% !important;
  text-align: center; }
  footer div.info-footer {
    display: inline-flex; }
    footer div.info-footer div.nissan-colombia {
      font-size: 20px;
      font-family: "Brand Regular";
      color: rgba(255, 255, 255, 0.529); }
    footer div.info-footer p a {
      font-size: 20px;
      font-family: "Brand Regular";
      color: #c61633;
      padding-left: 3px; }

@media screen and (max-width: 1024px) {
  footer div.info-footer {
    display: inherit; }
    footer div.info-footer div.nissan-colombia {
      font-size: 14px; }
    footer div.info-footer p a {
      font-size: 14px; } }
